
/* base colour */
.none_c49869.scrollerBase_c49869{
    background: linear-gradient(
        45deg,
        rgb(7, 10, 15) 0%,
        rgba(45, 60, 92, 0.25) 100%
    );
} 

/* top panel */

.subtitleContainer_a7d72e {
    position: fixed;
    z-index: 101;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

/* Top Panel (dms) */
.container_e44302.title_a7d72e {
    position: absolute;
    background: linear-gradient(
        45deg,
        rgba(7, 10, 15, 0.75) 0%,
        rgba(45, 60, 92, 0.2) 100%
    );
    border-radius: 15px;
    margin: 10px;
    width: 63vw;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px 2px #3f528596;
    backdrop-filter: blur(2px);
}

.container_e44302.title_a7d72e:hover {
    box-shadow: 0 0 5px 5px #283555;
    text-shadow: -3px 3px 3px #455d8f;
    opacity: 1;
    filter: blur(0px);
}

/* Top Panel (dms toolbar) */ 
.toolbar_e44302 {
    border-radius: 10px;
    box-shadow: inset 0 0 5px 5px #1820315e;
    transition: all 0.2s ease-in-out;
}
.toolbar_e44302:hover {
    box-shadow: inset 0 0 5px 5px #283555;
}

/* Friends tab */

/* items */
.peopleListItem_d51464 {
    position: relative;
    animation-name: peopleListItem;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

/* Message and more buttons */
.actionButton_e01b91 {
    background-color: #455d8f;
}

/* Active now */
.container_bf550a {
    position: relative;
    animation-name: active_now;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

/* ¬¬¬¬¬¬¬¬¬¬¬ */

/* dm panel */
.scroller_c47fa9 {
    position: relative;
    animation-name: privateChannels;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

/* dms */

/* profile layer */
.chat_a7d72e {
    background: linear-gradient(
        -45deg,
        rgb(0, 0, 0) 0%,
        rgb(24, 32, 49) 100%
    );
}

/* chat layer */
.chatContent_a7d72e {
    background-color: transparent;
}


/* dm viewer */
.scrollerInner_e2e187 {
    opacity: 0;
    position: relative;
    animation-name: scrollerInner;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    box-shadow: inset 0px 0px 5px 5 white;
}

/* chatbox_bg */
.form_a7d72e { 
    background: transparent;
}

.form_a7d72e::before {
    background: transparent;
}



/* chat box */
.channelTextArea_a7d72e.channelTextArea_d0696b {
    position: relative;
    animation-name: chatbox;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* start of a string of messages */

/* message item */
.messageListItem_d5deea {
    position: relative;
    animation-delay: 0.5s;
    transition: all 0.2s ease-in;
    width: fit-content;
    margin-left: 16px;
    border-radius: 10px;
    background: linear-gradient(
        -45deg,
        rgb(22, 28, 43) 0%,
        rgba(58, 77, 119, 0.25) 100%
    );
    box-shadow: 0 0 5px 5px #1820315e;
    margin-bottom: 5px;
}

.messageListItem_d5deea:hover {
    text-shadow: -3px 3px 2px #455d8f;
    box-shadow: -3px 3px 10px #455d8f;
    scale: 1.05;
    background: linear-gradient(
        -45deg,
        rgb(0, 0, 0) 0%,
        rgba(45, 60, 92, 0.25) 100%
    );
    z-index: 2;
}

/* username on text */
.headerText_f9f2ca {
    text-shadow: 0px 0px 5px white;
}

.markup_f8f345.messageContent_f9f2ca {
    color: wheat;
    text-shadow: 0px 0px 3px white;
}

/* mini profile view */
.container_ecc60d  {
    opacity: 0;
    position: relative;
    animation-name: mini_profile_View;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
}

/* animations */

@keyframes chatContent{
    0% {opacity: 0; bottom: 50px}
    100% {opacity: 0.5; bottom: 0px}
}

@keyframes chatbox {
    0% {opacity: 0; bottom: -50px;}
    100% {opacity: 1; bottom: 0px;}
}

@keyframes chatbox_bg {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes active_now{
    0% {opacity: 0; left: 50px}
    100% {opacity: 1; left: 0px}
}

@keyframes privateChannels{
    0% {opacity: 0; right: 50px}
    100% {opacity: 1; right: 0px}
}

@keyframes peopleListItem{
    0% {opacity: 0; top: 50px}
    100% {opacity: 1; top: 0px}
}

@keyframes messageWrapper{
    0% {opacity: 0; top: -100px}
    100% {opacity: 1; top: 0px}
}

@keyframes scrollerInner{
    0% {opacity: 0; left: -50px}
    100% {opacity: 1; left: 0px}
}

@keyframes mini_profile_View{
    0% {opacity: 0; right: -50px}
    100% {opacity: 1; right: 0px}
}