
/* base colour */
.none_c49869.scrollerBase_c49869{
    background: linear-gradient(
        45deg,
        rgb(7, 10, 15) 0%,
        rgba(45, 60, 92, 0.25) 100%
    );
}

/*hover tooltip*/

.theme-dark .tooltipBlack_b6c360, .tooltip_b6c360, .scroller_bc9592, .popout-xwjvsX.themedPopout-1TrfdI, .reactionTooltip_fba897, .container_be6a5c {
	background: linear-gradient(to top, transparent 42%, rgba(77,80,86) 100%) !important;
	background-color: rgba(65,67,72) !important;
	border-radius: 5px !important;
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.6), inset 0 0 0 1px rgb(92,92,92) !important;
	/*hover tooltip*/
}

/* top panel */

.subtitleContainer_a7d72e {
    position: fixed;
    z-index: 101;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

/* Top Panel (dms) */
.container_e44302.title_a7d72e {
    position: absolute;
    background: linear-gradient(
        45deg,
        rgba(7, 10, 15, 0.75) 0%,
        rgba(45, 60, 92, 0.2) 100%
    );
    border-radius: 15px;
    margin: 10px;
    width: 63vw;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px 2px #3f528596;
    text-shadow: 0px 0px 3px #455d8f;
    backdrop-filter: blur(2px);
}

.container_e44302.title_a7d72e:hover {
    box-shadow: 0 0 5px 5px #283555;
    text-shadow: -2px 2px 3px #455d8f;
    backdrop-filter: blur(10px);
}

/* Top Panel (dms username) */
.titleWrapper_e44302 h1 {
    color: wheat;
    text-shadow: 1px 1px 5px white;
}

/* Top Panel (dms spacer) */
.theme-dark .children_e44302::after {
    background: transparent;
}

.theme-light .children_e44302::after {
    background: transparent;
}

/* Top Panel (dms toolbar) */ 
.toolbar_e44302 {
    border-radius: 10px;
    box-shadow:  0 0 1px 1px #455d8f6c;
    transition: all 0.2s ease-in-out;
}

.iconWrapper_e44302.clickable_e44302 {
    transition: all 0.1s ease-in;
}

.iconWrapper_e44302.clickable_e44302:hover {
    filter: drop-shadow(0px 0px 4px white);
}

.toolbar_e44302:hover {
    background-color: #455d8f6c;
}

/* (Top panel dms) ¬¬¬¬¬¬¬¬¬¬¬¬ */


/* Friends tab */

/* items */
.peopleListItem_d51464 {
    position: relative;
    animation-name: peopleListItem;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

/* Message and more buttons */
.actionButton_e01b91 {
    background-color: #455d8f;
}

/* Active now */
.container_bf550a {
    position: relative;
    animation-name: active_now;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

/* (Friends tab) ¬¬¬¬¬¬¬¬¬¬¬ */


/* dms */

/* dm panel */

.channel_c91bad.container_b15955 {
    position: relative;
    animation-name: privateChannels;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

/* DM and Profile container */
.chatContent_a7d72e {
    background-color: transparent;
}

/* profile layer */
.chat_a7d72e {
    background: linear-gradient(
        -45deg,
        rgb(0, 0, 0) 0%,
        rgb(24, 32, 49) 100%
    );
}

/* dm viewer */
.scrollerInner_e2e187 {
    opacity: 0;
    position: relative;
    animation-name: scrollerInner;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    box-shadow: inset 0px 0px 5px 5 white;
}


/* chat box */

/* text box */

.channelTextArea_a7d72e.channelTextArea_d0696b {
    position: relative;

    color: wheat;
    background-color: rgba(184, 179, 245, 0.048);
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(10px);
}

/* focused text box */
.channelTextArea_a7d72e.channelTextArea_d0696b:focus-within {
    box-shadow: 0px 0px 5px 1px rgb(184, 179, 245);
    background-color: rgba(184, 179, 245, 0.281);
    backdrop-filter: blur(10px);
}

.editor_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b {
    color: wheat;
    text-shadow: 0px 0px 1.5px wheat;
}
/* chatbox_bg */
.form_a7d72e {
    background: transparent;
    height: max-content;
}

.channelBottomBarArea_a7d72e {
    background: transparent;
}

.form_a7d72e::before {
    background: transparent;
}

.themedBackground_d0696b{
    background: transparent;
}

/* spacer next to chatbox */
.scrollerSpacer_e2e187 {
    background-color: transparent;
}

/* attachment popup */
.attachment_a4623d {
    color: wheat;
    background: linear-gradient(
        -45deg,
        rgb(0, 0, 0) 0%,
        rgb(24, 32, 49) 100%
    );
}

.cancelButton_a4623d {
    filter: drop-shadow(0px 0px 4px white);
}
/* (attachment popup) ¬¬¬¬¬¬¬¬¬¬¬ */
/* (chatbox) ¬¬¬¬¬¬¬¬¬¬¬ */


/* messages */

/* message item */
.messageListItem_d5deea{
    position: relative;
    animation-name: messageListItem;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: all 0.2s ease-in;
    width: fit-content;
    margin-left: 16px;
    border-radius: 10px;
    background: linear-gradient(
        -45deg,
        rgba(22, 28, 43, 0.5) 0%,
        rgba(58, 77, 119, 0.5) 100%
    );
    box-shadow: 0 0 5px 5px #1820315e;
    margin-bottom: 5px;
    margin-right: 10px;
}

.messageListItem_d5deea:hover {
    text-shadow: -3px 3px 2px #455d8f;
    box-shadow: -3px 3px 10px #455d8f;
    scale: 1.05;
    background: linear-gradient(
        -45deg,
        rgb(0, 0, 0) 0%,
        rgba(45, 60, 92, 0.25) 100%
    );
    z-index: 2;
    margin-left: 16px;
    margin-right: 40px;
}


/* username on text */
.headerText_f9f2ca {
    text-shadow: 0px 0px 5px white;
}

/* text */
.markup_f8f345.messageContent_f9f2ca {
    color: wheat;
    text-shadow: 0px 0px 3px white;
}

/* (Dms) ¬¬¬¬¬¬¬¬¬¬ */


/* mini profile view */

/* layer */
.container_ecc60d  {
    opacity: 0;
    position: relative;
    animation-name: mini_profile_View;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

/* Small Profile View */

.userTagUsername_c32acf {
    transition: all 0.2s ease-in;
}

.userTagUsername_c32acf:hover {
    filter: drop-shadow(0px 0px 1px wheat);
}

/* activity */
.activity_cd74cc {
    background-color:  transparent;
    filter: drop-shadow(0px 0px 1px wheat);
}

/* add friend and more button */
.wrapper_cb78f1.panel_cb78f1 div button {
    transition: box-shadow 0.1s ease-in;
}

.wrapper_cb78f1.panel_cb78f1 div button:hover {
    box-shadow: 0px 0px 3px 3px white;
}

/* (Small profile view) ¬¬¬¬¬¬¬¬¬¬¬¬¬ */


/* Group dms */

.membersWrap_cbd271 {
    opacity: 0;
    position: relative;
    background-color: transparent;
    animation-name: membersWrap;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.members_cbd271.thin_c49869.scrollerBase_c49869.fade_c49869 {
    background: linear-gradient(
        45deg,
        rgba(7, 10, 15, 0.75) 0%,
        rgba(45, 60, 92, 0.2) 100%
    );
    border-radius: 15px;
    text-shadow: 0px 0px 1px wheat;
}

.wrapper_cdfd51 {
    background: transparent;
}

.wrapper_b75bb9 {
    background: transparent;
}

/* animations */

@keyframes active_now{
    0% {opacity: 0; left: 50px}
    100% {opacity: 1; left: 0px}
}

@keyframes privateChannels{
    0% {opacity: 0; right: 50px}
    100% {opacity: 1; right: 0px}
}

@keyframes peopleListItem{
    0% {opacity: 0; top: 50px}
    100% {opacity: 1; top: 0px}
}

@keyframes messageListItem {
    0% {opacity: 0; right: 50px;}
    100% {opacity: 1; right: 0px;}
}

@keyframes scrollerInner{
    0% {opacity: 0; left: -100px;}
    100% {opacity: 1; left: 0px;}
}

@keyframes mini_profile_View{
    0% {opacity: 0; right: -50px}
    100% {opacity: 1; right: 0px}
}

@keyframes membersWrap {
    0% {opacity: 0; right: -100px;}
    100% {opacity: 1; right: 0px;}
}